/* default button style */
.btn {
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 500ms;
}

.add {
  display: block;
  color: var(--color-softblue--1);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  margin: 3rem auto;
  border-radius: 2.4rem;
  background: var(--color-white-1);
  height: 4.8rem;
  width: 100%;
}
.add:hover {
  background: var(--color-paleblue--1);
}
.save {
  background-color: var(--color-lightblue--1);
  color: var(--color-white-0);
}

.draft {
  background: var(--color-darkblue--4);
  color: var(--color-grey--1);
}
.draft:hover {
  background: var(--color-dark--1);
}
.cancel {
}
.discard {
  color: var(--color-softblue--1);
  width: 9.6rem;
  height: 4.8rem;
  background: var(--color-white-1);
}
.edit,
.delete,
.paid {
  border-radius: 2.4rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  height: 4.8rem;
  font-family: inherit;
}
.edit {
  background: var(--color-white-1);
  color: var(--color-softblue--1);
  width: 7.3rem;
}
.edit.dark {
  background: var(--color-darkblue--2);
}
.edit.dark:hover {
  background: var(--color-darkblue--4);
}
.edit:hover {
  background: var(--color-softblue--1);
  color: var(--color-white-0);
}

.delete {
  color: var(--color-white-0);
  background: var(--color-softred--1);
  width: 8.9rem;
}
.delete:hover {
  background: var(--color-softred--2);
}
.paid {
  color: var(--color-white-0);
  background: var(--color-lightblue--1);
  width: 13.1rem;
}
.paid:hover {
  background: var(--color-lightblue--2);
}

@media screen and (max-width: 500px) {
  .edit,
  .paid,
  .delete {
    /* width: 100%; */
  }
}
