/* reset input type number appearance */

input:focus,
.dateHolder:focus-within,
.terms > p:focus-within {
  border: 0.2rem solid var(--color-lightblue--2);
}
input,
.terms > p,
.dateHolder {
  border-radius: 0.4rem;
  border: 1px solid var(--color-paleblue--1);
  background: var(--color-white-0);
  height: 4.8rem;
  outline: 0;
  padding: 0 1.5rem;
  color: var(--color-dark--1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  font-family: inherit;
  margin-bottom: 1rem;
}

input.dark,
.terms > p.dark,
.dateHolder.dark {
  color: var(--color-white-0);
  border: 1px solid var(--color-darkblue--2);
  background: var(--color-darkblue--1);
}
.form {
  position: fixed;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: -60rem;
  top: 0;
  background-color: var(--color-white-0);
  padding: 6rem 4rem 4rem 6rem;
  border-radius: 0 2rem 2rem 0;
  height: 100%;
  overflow: scroll;
  z-index: 100;
  box-shadow: 0 1rem 2rem 0 rgba(72, 84, 159, 0.25);
  -ms-overflow-style: none;
  scrollbar-width: none;
  opacity: 0;
  transition: 500ms;
}
.form.dark {
  background-color: var(--color-darkblue--3);
}
.open {
  left: 8rem;
  opacity: 1;
}
.form::-webkit-scrollbar {
  display: none;
}
.title {
  color: var(--color-dark--1);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.05rem;
}
.title.dark{
  color: var(--color-white-0);
}
.formH3 {
  color: var(--color-lightblue--1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  padding: 2rem 0;
  margin-top: 4rem;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.label,
.PaymentTerms {
  color: var(--color-softblue--1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  padding: 1rem 0;
  position: relative;
}
.label.dark,
.PaymentTerms.dark {
  color: var(--color-paleblue--1);
}
.address input {
  width: 100%;
}
.billFromBtm {
  display: flex;

  gap: 3rem;
  width: 100%;
  margin-top: 2rem;
}

.billFromBtm input {
  width: 100%;
}
.cityPostCode {
  display: flex;
  gap: 3rem;
}
.dateHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.dateHolder input {
  border: unset;
  background: transparent;
  justify-content: center;
  display: flex;
  align-items: center;
  height: unset;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
 
}
.dateHolder input.dark{
  color: var(--color-white-0);
}
.dateHolder
.terms {
  position: relative;
}
.termsDate > div,.terms.label{
  width: 100%;
}

.terms > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.itemList {
  color: var(--color-grey--2);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: -0.0375rem;
  margin-top: 2rem;
}
.actionBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}
.actionBtns button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  height: 4.8rem;
  width: 13rem;
  border-radius: 2.4rem;
}
.endBtns {
  display: flex;
  gap: 2rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  width: 0;
  transform: translateX(200rem);
  transition: 1000ms;
}
.overlayOpen {
  width: 100%;
  opacity: 1;
  z-index: 10;
  backdrop-filter: blur(2px);
  transform: translateX(0);
}

@media screen and (max-width: 1024px) {
  .form {
    width: 61.6rem;
    padding: 5rem 3rem 4rem;
    top: 8rem;
  }
  .open {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
    border-radius: 0;
    padding: 13rem 2rem 4rem;
    top: 0;
  }
  .fromRow {
    flex-direction: column;
  }
  .termsDate {
    flex-direction: column;
  }
  .dateHolder {
    height: 4.8rem;
    justify-content: space-between;
  }
  .postCode {
    width: 100%;
  }
  .actionBtns button {
    width: 10rem;
  }
}
