.invoiceDetail {
  width: 50%;
}
.btnBack {
  color: var(--color-dark--1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  gap: 1rem;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8rem;
  background: var(--color-white-0);
  box-shadow: 0 1rem 1rem -1rem rgba(72, 84, 159, 0.1);
  height: 8.8rem;
  padding: 0 2rem;
  margin-top: 3rem;
}
.status {
  color: var(--color-softblue--2);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  gap: 3rem;
}
.cta {
  display: flex;
  gap: 0.7rem;
}
.invoiceInfoWrapper {
  border-radius: 0.8rem;
  background: var(--color-white-0);
  box-shadow: 0 10rem 10rem -10rem rgba(72, 84, 159, 0.1);
  padding: 5rem;
  margin-top: 4rem;
  height: 100%;
}

.topInfo {
  display: flex;
  justify-content: space-between;
}

.description {
  display: block;
  margin-top: 1rem;
}
.senderAddress {
  text-align: right;
}
.address,
.description,
.headText {
  display: flex;
  flex-direction: column;
  color: var(--color-softblue--1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: -0.01rem;
}
.midInfo {
  display: flex;
  margin-top: 3rem;
  gap: 15rem;
}
.flex {
  display: flex;
  gap: 15rem;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.clientAddress {
  text-align: left;
}

.headText {
  padding: 1rem 0;
}

.dateNameEmail,
.name,
.total {
  color: var(--color-dark--1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: -0.025rem;
}
.name {
  margin-bottom: 1rem;
}
.itemWrapper {
  padding: 1rem 2rem;
  margin-top: 8rem;
  min-height: 18.4rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-white-1);
  border-radius: 0.8rem 0.8rem 0 0;
  border-spacing: 0;
  border-collapse: separate;
  background-color: pink;
}
.fields th {
  padding: 2rem 0;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.total {
  font-size: 1.7rem;
}
.fields {
  color: var(--color-softblue--1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: -0.01rem;
}
.fieldValues td {
  padding-bottom: 3rem;
}
.qty,
.price {
  color: var(--color-softblue--1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
}
.amountDue {
  border-radius: 0px 0px 8px 8px;
  background: var(--color-darkblue--4);
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-white-0);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: -0.05rem;
}

.amountDue p:nth-child(2) {
  font-size: 2.4rem;
}

@media screen and (max-width: 1024px) {
  .invoiceDetail {
    width: 80%;
    margin-top: 10rem;
  }
}

@media screen and (max-width: 1000px) {
  .invoiceDetail {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .invoiceDetail{
    margin-bottom: 4rem;
  }
  .midInfo {
    flex-direction: column;
    gap: 4rem;
  }
  .cta {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    height: 9rem;
    align-items: center;
    padding: 0 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background:var(--color-white-0);
    box-shadow: 0 1rem 1rem -1rem rgba(72, 84, 159, 0.1);
  }
  .status{
    justify-content: space-between;
    width: 100%;
  }
  .flex{
    gap: 7rem;
  }
  .topInfo{
    flex-direction: column;
    gap: 3rem;
  }
  .senderAddress{
    text-align: left;
  }
  thead{
    display: none;
  }
 
}
