.sidebar {
  background-color: var(--color-darkblue--4);
  position: fixed;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  bottom: 0;
  flex: 1;
  z-index:10;
}
.btmImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.themeIcon {
  padding: 3rem;
  cursor: pointer;
}

.avatar {
  padding: 3rem;
  border-top: 1px solid var(--color-border);
  cursor: pointer;
}
