.sidebar {
  background-color: var(--color-darkblue--4);
  position: fixed;
  height: 100%;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  bottom: 0;
  flex: 1;
  z-index: 100;
}
.btmImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.themeIcon {
  padding: 3rem;
  cursor: pointer;
}

.avatar {
  padding: 3rem;
  border-top: 1px solid var(--color-border);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .sidebar {
    bottom: unset;
    flex-direction: row;
    right: 0;
    height: 8rem;
    border-radius: 0;
  }
  .btmImages {
    flex-direction: row;
  }

  .logo {
    height: 8rem;
  }
  .logo img {
    height: 100%;
  }
  .avatar {
    border-top: 0;
    padding: 2rem;
    border-left: 1px solid var(--color-border);
  }
}
