.itemList {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
input {
  border: 1px solid var(--color-paleblue--1);
  background: var(--color-white-0);
  color: var(--color-dark--1);
}

input.dark {
  color: var(--color-white-0);
  border: 1px solid var(--color-darkblue--2);
  background: var(--color-darkblue--1);
}
::-webkit-scrollbar {
  display: none;
}

.fields,
.mobileLabel {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-items: flex-start;
  color: var(--color-softblue--1);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.01rem;
  padding: 1rem 0;
}
.fields.dark,
.mobileLabel.dark {
  color: var(--color-paleblue--1);
}

.data {
  display: flex;
  gap: 2rem;
  align-items: center;
  position: relative;
}
.delete {
  position: absolute;
  right: 0;
}
.itemName {
  width: 21rem;
}
.qty {
  width: 4.9rem;
}
.price {
  width: 10rem;
}
.total {
  width: 5.6rem;
  color: var(--color-grey--1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: -0.025rem;
  white-space: nowrap;
  overflow: auto;
  scrollbar-width: 0;
}
.total.dark {
  color: var(--color-white-0);
}
.delete {
  cursor: pointer;
}
.mobileLabel {
  display: none;
}
.row {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .fields {
    display: none;
  }
  .data {
    flex-direction: column;
    align-items: unset;
  }
  .mobileLabel {
    display: flex;
    width: 100%;
  }
  .qty {
    width: 6.4rem;
  }
  .price {
    width: 10rem;
  }
  .total {
    width: 8rem;
    display: flex;
    align-items: center;
    height: 4.8rem;
  }
  .itemNameWrapper,
  .itemName {
    width: 100%;
  }
  .row {
    justify-content: space-between;
  }
  .delete {
    position: unset;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .qty {
    width: 4rem;
  }
  .price {
    width: 8rem;
  }
  .total {
    width: 7rem;
  }
}
